img {
  height: 100%;
  width: auto;
  max-width: 600px;
}

.img-container {
  display: inline-block;
  height: 200px;
  margin: 2px;
}

.folder-link {
  display:inline-block;

  width: 80px;
  height: 75px;
  text-decoration: none;
  text-align: center;
}
